.basemaps {
  display: flex;
  flex-direction: row;
  padding: 4px;
}
.basemaps.closed .basemap {
  display: none;
}
.basemaps.closed .basemap.alt {
  display: flex;
}
.basemaps.closed .basemap.alt h4 {
  display: none;
}

.basemap {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.basemap.active img {
  border-color: orange;
  box-shadow: 2px 2px 4px #000;
}
.basemap img {
  width: 64px;
  border: 2px solid #fff;
  margin: 0 2px;
  border-radius: 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.basemap span {
  position: absolute;
  left: 0;
  text-align: start;
  font-weight: bold;
  font-size: 13px;
  background-color: #ffffffa0;
  border-radius: 15px 20px 20px 15px;
  margin-left: 2px;
  padding: 0 4px 0 8px;
  line-height: 100%;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.basemap.active span {
  background-color: #ffa500a0;
}
